@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/animations' as *;
//  header 
.header_menu_nav ul{
  padding-inline: $pd-header-nav-inline;
  position: relative;
  @include respond-to('medium'){
    padding-inline: $pd-header-nav-inline-lg ;
  }
}

.header_logo{
  @include absolute-center;
}

.header_logo img{
  width: $w-logo;
  @include respond-to('medium'){
    width: $w-logo-lg;
  }
}


.header_menu_links_shop > div, 
.header_menu_links_login > div,
.header_mobile_menu > div {
  padding-block: $pd-navLInk-block;
  @include respond-to('medium'){
    padding-block: $pd-navLink-block-lg;
  }
}


.header_menu_links_shop > div a, 
.header_menu_links_login > div a,
.header_mobile_menu > div a{
  @include navLinks;
}

.header_mobile_menu button[data-menuButton]{
  @include navLinks;
  & > span{
    pointer-events: none;
  }
}



.header_menu_links_shop div:first-child{
  cursor: pointer;
  position: relative;
}


.header_menu_links_shop div:first-child::after{
  content: '';
  position: absolute;
  bottom: 2.7rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $clr-primary;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: center;
  transition: all .8s ease;
}

.header_menu_links_shop div.open::after{
  transform: scaleX(1);
}


.header_menu_links_login{
  @include flex-row-jc(center){
    gap: 2rem;
  };
  & > a:first-child{
    display: none;
    @include respond-to(medium){
      display: block;
    }
  }
}

.header_menu_links_shop{
  display: none;
  @include respond-to(medium){
    @include flex-row-jc(center){
      gap: 4rem;
    };
  }
}


.header_mobile_menu{
  
  @include respond-to(medium){
    display: none;
  }
}


