@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/animations' as *;
//  header 

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;
  background-color: white;
}
.header_menu_nav ul{
  padding-inline: $pd-header-nav-inline;
  position: relative;
  @include respond-to('medium'){
    padding-inline: $pd-header-nav-inline-lg ;
  }
}

.header_logo{
  @include absolute-center;
}

.header_logo img{
  width: $w-logo;
  @include respond-to('medium'){
    width: $w-logo-lg;
  }
}


.header_menu_links_shop > div, 
.header_menu_links_login > div,
.header_mobile_menu > div {
  padding-block: $pd-navLInk-block;
  @include respond-to('medium'){
    padding-block: $pd-navLink-block-lg;
  }
}


.header_menu_links_shop > div a, 
.header_menu_links_login > div a,
.header_mobile_menu > div a{
  @include navLinks;
}

.header_menu_links_login .header_cart_button{
  @include navLinks;
}

.header_mobile_menu button[data-menuButton]{
  @include navLinks;
  & > span{
    pointer-events: none;
  }
}



.header_menu_links_shop div:first-child{
  cursor: pointer;
  position: relative;
}


.header_menu_links_shop div:first-child::after{
  content: '';
  position: absolute;
  bottom: 2.7rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $clr-primary;
  pointer-events: none;
  transform: scaleX(0);
  transform-origin: center;
  transition: all .8s ease;
}

.header_menu_links_shop div.open::after{
  transform: scaleX(1);
}


.header_menu_links_login{
  @include flex-row-jc(center){
    gap: 2rem;
  };
  & > a:first-child{
    display: none;
    @include respond-to(medium){
      display: block;
    }
  }
}

.header_menu_links_shop{
  display: none;
  @include respond-to(medium){
    @include flex-row-jc(center){
      gap: 4rem;
    };
  }
}


.header_mobile_menu{
  
  @include respond-to(medium){
    display: none;
  }
}


// ? -------------------------------------------- Drop Down ---------------------------------------> 

// main dropdown container
.dropDown_container {
  position: absolute;
  left: 0;
  right: 0;
  height: 0%;
  top: 7.4rem;
  visibility: hidden;
  background-color: $clr-dropDown-backdrop;
  display: none;
  overflow: hidden;
  @include respond-to(medium) {
    top: $height-header-lg;
    display: block;
  }
}

// dropdown in open state
.dropDown_container.open {
  visibility: visible;
  height: 100vh;
  height: 100svh;
}

.dropDown_menu {
  background-color: white;
  height: 0;
  transition: height 0.7s ease, opacity 0.7s ease, padding 0.8s ease;
  padding-inline: 8rem;
  padding-block: 0;
  display: grid;
  grid-template-columns: 33rem calc(100% - 33rem);
  overflow: hidden;
  visibility: hidden;
}

// subDropdown categories list
.subDropdown_category-container ul {
  display: grid;
  gap: 2rem;
}

.subDropdown_item_category {
  position: relative;
}

.subDropdown_item_category a span {
  font-size: 5.5rem;
  font-weight: $font-semibold;
  line-height: $leading-snug;
  color: $clr-text-secondary;
}
.subDropdown_item_category a {
  transition: color 0.3s ease;
  display: inline-block;
  padding-left: 4rem;
  transition: padding 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subDropdown_item_category a:focus button {
  opacity: 1;
  max-width: fit-content;
}
.subDropdown_category-container ul li:first-child a {
  transition-delay: 0.2s;
}
.subDropdown_category-container ul li:nth-child(2) a {
  transition-delay: 0.3s;
}
.subDropdown_category-container ul li:nth-child(3) a {
  transition-delay: 0.4s;
}
.subDropdown_category-container ul li:nth-child(4) a {
  transition-delay: 0.5s;
}

.dropDown_container.open {
  & .dropDown_menu {
    visibility: visible;
    height: 46rem;
    padding-block: 3rem;
  }
  & .subDropdown_item_category a {
    padding-left: 0;
    opacity: 1;
  }
}
.subDropdown_item_detail_container{
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity .9s ease .3s , transform .9s ease .1s;
  max-height: 0;
  overflow: hidden;
  // visibility: hidden;
}

.dropDown_container.open .subDropdown_item_detail_container{
  opacity: 1;
  transform: translateY(0);
  max-height: 36rem;
  // visibility: visible;
}

.subDropdown_item_category.focused a span {
  color: $clr-primary;
}

// subDropdown categories Detail list

.subDropdown_item_detail_container ul {
  display: flex;
  justify-content: flex-start;
  gap: 7.8rem;
  padding-block: 2rem;
  height: 100%;
  align-items: flex-start;
  padding-inline: 2rem;
  
}



.subDropdown_item_detail a {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  & > h3 {
    font-size: $font-size-base;
    font-weight: $font-semibold;
    letter-spacing: $letter-spacing-md;
  }
}

.subDropdown_item_detail a span {
  width: $w-submenu-item-detail;
  height: $h-submenu-item-detail;
  display: inline-block;
  border-radius: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.subDropdown_item_detail_container .submenu {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 1s ease ;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 3rem, rgb(0, 0, 0) 97%, rgba(0, 0, 0, 0));
  overflow-x: auto;
  @include scrollBar;
}

.subDropdown_item_detail_container .submenu.open {
  max-height: 40rem;
  visibility: visible;
  opacity: 1;
}

// Start --------------------------------- Drop_Down_Mobile -------------------------------->

.dropDown_mobile_container {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  left: 0;
  @include respond-to(medium) {
    display: none;
  }
  & nav {
    padding-inline: $pd-body-inline-base;
    padding-top: 3.2rem;
  }
  &.open {
    visibility: visible;
    border-top: 1px solid $clr-border;
    height: calc(100vh - $height-header-sm);
    height: calc(100svh - $height-header-sm);
  }
}
.mobile_menu_learn button,
.mobile_menu_shop button {
  width: 100%;
  @include flex-row-jc(space-between);
  font-size: $font-size-mobile-menu-heading;
  font-weight: $font-semibold;
  background-color: transparent;
  border: none;
  & span {
    pointer-events: none;
  }
  & img {
    pointer-events: none;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }
  &.open img {
    transform: rotate(0deg);
    pointer-events: none;
  }
}
.mobile_menu_shop button{
  margin-bottom: $m-mobile-submenu;
}

// Start ------------------------------ mobile_submenu --------------------------->
.mobile_submenu_shop {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-bottom: 0;
  transition: max-height .9s ease , opacity .5s ease, padding .7s ease;
  & ul {
    display: grid;
    gap: 1.6rem;
    padding-inline: 1px;
    & li{
      border-radius: 2rem;
      background-color: $clr-bg-primary;
      margin-left: 2rem;
      opacity: 0;
      transition: margin .6s ease;
    }
    & li:nth-child(2){
      transition-delay: .1s;
    }

    & li:nth-child(3){
      transition-delay: .2s;
    }
  }
}

.mobile_menu_shop button.open + .mobile_submenu_shop{
  max-height: 48rem;
  opacity: 1;
  padding-bottom: $pd-mobile-submenu;
  & li{
    margin-left: 0;
    opacity: 1;
  }
}

.mobile_menu_shop a {
  display: grid;
  padding: 1.6rem;
  gap: 2rem;
  align-items: center;
  grid-template-columns: 13rem 1fr;
  & > div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  & > div:last-child h4{
    font-size: $font-size-md;
    margin-bottom: 1rem;
    letter-spacing: $letter-spacing-lg;
  }

  & > div:last-child p{
    font-size: $font-size-sm;
  }
}

// submenu learn
.mobile_submenu_learn{
  max-height: 0;
  transition: max-height .9s ease, opacity .6s ease;
  opacity: 0;
  overflow: hidden;
  & a{
    margin-left: 2rem;
    padding-top: $pd-mobile-submenu;
    font-size: $font-size-xsm;
    font-weight: $font-semibold;
    color: $clr-text-secondary;
    letter-spacing: $letter-spacing-xl;
    transition: margin .6s ease;
  }
}

.mobile_menu_learn button.open + .mobile_submenu_learn{
  opacity: 1;
  max-height: 6rem;
  margin-left: 0;
  & a{
    margin-left: 0;
  }
}

// mobile util links signUp/Login
.mobile_signUp_link_container{
  padding-inline: $pd-inline-mobile-signUp;
  padding-top: $pd-top-mobile-signUp;
  padding-bottom: $pd-bottom-mobile-singUp;
  background-color: $clr-bg-primary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
  margin-top: auto;
}