@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.accordion {
  &--product{
    @include accordion;

    & .accordion_button{
      & span{
        font-weight: normal;      
      }
      & .accordion_button_arrowIcon{
        opacity: .8;
      }

      & .accordion_button_arrowIcon img{
        width: 2.2rem;
        height: 2.2rem;
      }
    }
    & .accordion_item{
      border-top: 1px solid $clr-border;
      
      &:last-child{
        border-bottom: 1px solid $clr-border;
      }
    }

  }

  &--footer {
    @include accordion;
    & .accordion_button {
      color: white;
    }
    
    & .accordion_item{
      
      border-top: 0.5px solid rgba(255, 255, 255, 0.507);
      
      &:last-child{
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.507);
      }
    }

    @include respond-to(large) {
      grid-template-columns: repeat(3, 20rem);
    }

    @include respond-to(medium) {
      border-top: none;

      & .accordion_heading {
        display: block;
      }

      & .accordion_item{
        border-top: none;
        &:last-child{
          border-bottom: none;
        }
      }

      & .accordion_button {
        display: none;
      }

      & .accordion_body{
        max-height: 20rem;
      }

      & .accordion_itemList {
        max-height: 20rem;
        gap: 1.2rem;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
 

