@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.accordion {
  @include accordion;

  & .accordion_button {
    width: 100%;
  }

  & .accordion_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-time-accordion ease;
    visibility: none;
    &.open{
      visibility: visible;
    }
  }

  & .accordion_body .accordion_products_body_text {
    padding-top: 0.5rem;
    padding-bottom: 2.4rem;
    padding-right: 2rem;
    font-size: $font-size-sm;
    color: $clr-primary;
  }
  &--footer {
    @include accordion;
    & .accordion_button {
      color: white;
    }
    
    & .accordion_item{
      border-top: 0.5px solid rgba(255, 255, 255, 0.507);
      
      &:last-child{
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.507);
      }
    }

    @include respond-to(large) {
      grid-template-columns: repeat(3, 20rem);
    }

    @include respond-to(medium) {
      border-top: none;

      & .accordion_heading {
        display: block;
      }

      & .accordion_item{
        border-top: none;
        &:last-child{
          border-bottom: none;
        }
      }

      & .accordion_button {
        display: none;
      }

      & .accordion_body{
        max-height: 20rem;
      }

      & .accordion_itemList {
        max-height: 20rem;
        gap: 1.2rem;
      }

      &:last-child {
        border: none;
      }
    }
  }
}
 
.accordion {
 

  
}

.boughtTogether_wrapper {
  padding-top: 3.5rem;
  text-align: center;
  & p {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }

  @include respond-to(small) {
    padding-top: 4.5rem;
    & p {
      font-size: 1.8rem;
    }
  }
}
