@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.button {
  &--primary {
    @include button;
    gap: $gap-btn;
  }

  &--skipToMain {
    @include button();
    border: none;
    pointer-events: none;
    position: absolute;
    top: -100px;
    left: 0;
    &:focus {
      top: 0;
    }
    &:focus-visible {
      top: 0;
    }
    z-index: 200;
  }

  &--productBanner {
    @include button;
    gap: calc($gap-btn - 2px);
    font-size: $font-size-xsm;
    padding-block: 0.4rem;
    @include respond-to(small) {
      padding-block: 1rem;
      font-size: 1.4rem;
    }
  }

  &--dropdown {
    @include dropDown-button(-2rem);
  }

  &--subDropDown {
    @include subDropdown-button;
  }

  &--authButton {
    @include button;
    background-color: white;
    font-size: $font-size-base;
    letter-spacing: $letter-spacing-md;
    width: 100%;
  }

  &--checkout,
  &--addToBag{
    @include button;
    background-color: $clr-primary;
    color: white;
    width: 100%;
    &:hover{
      background-color: $clr-primaryDark;
    }
  }

  &--formSubmit {
    border-radius: $br-btn;
    background-color: $clr-accent;
    color: $clr-primary;
    border: none;
    height: 4.7rem;
    line-height: 4.7rem;
    cursor: pointer;
    width: 11.5rem;
    font-size: $font-size-base;
    font-weight: $font-semibold;
    margin-inline: auto;
    text-align: center;
    display: block;
    margin-top: 6.4rem;
    margin-bottom: 2.4rem;
  }

  &--orderConfirmationPage{
    display: inline-block;
    width: 100%;
    background-color: $clr-text-blue;
    color: white;
    padding: 2.4rem;
    font-size: $font-size-base;
    font-weight: $font-semibold;
    border-radius: .5rem;

    @include respond-to(medium){
      padding: 2rem 2.4rem;
      font-size: $font-size-sm;
      max-width: fit-content;
    }
  }

  &--checkout-page,
  &--complete-order{
    width: 100%;
    font-size: 1.7rem;
    color: white;
    background-color: $clr-button-checkout;
    border: none;
    border-radius: 5px;
    font-weight: $font-semibold;
    padding: 1.6rem;
    @include respond-to(medium) {
      font-size: 1.9rem;
    }
  }

  &--save-address{
    font-size: 1.5rem;

    @include respond-to(small){
      max-width: 12rem;
      margin-left: auto;
    }
  }
}

