@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// main dropdown container
.dropDown_container {
  position: absolute;
  left: 0;
  right: 0;
  height: 0%;
  top: 7.4rem;
  background-color: $clr-dropDown-backdrop;
  transition: opacity 0.5s ease;
  opacity: 0;
  display: none;
  @include respond-to(medium) {
    top: $height-header-lg;
    display: block;
  }
}

// dropdown in open state
.dropDown_container.open {
  height: 100%;
  opacity: 1;
}

.dropDown_menu {
  background-color: white;
  height: 0;
  transition: height 0.7s ease, opacity 0.7s ease, padding 0.8s ease;
  opacity: 0;
  padding-inline: 8rem;
  padding-block: 0;
  display: grid;
  grid-template-columns: 33rem calc(100% - 33rem);
  overflow: hidden;
  visibility: hidden;
}

// subDropdown categories list
.subDropdown_category-container ul {
  display: grid;
  gap: 2rem;
}

.subDropdown_item_category {
  position: relative;
}

.subDropdown_item_category a span {
  font-size: 5.5rem;
  font-weight: $font-semibold;
  line-height: $leading-snug;
  color: $clr-text-secondary;
}
.subDropdown_item_category a {
  transition: color 0.3s ease;
  display: inline-block;
  padding-left: 4rem;
  transition: padding 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subDropdown_item_category a:focus button {
  opacity: 1;
  max-width: fit-content;
}
.subDropdown_category-container ul li:first-child a {
  transition-delay: 0.2s;
}
.subDropdown_category-container ul li:nth-child(2) a {
  transition-delay: 0.3s;
}
.subDropdown_category-container ul li:nth-child(3) a {
  transition-delay: 0.4s;
}
.subDropdown_category-container ul li:nth-child(4) a {
  transition-delay: 0.5s;
}

.dropDown_container.open {
  & .dropDown_menu {
    visibility: visible;
    height: 46rem;
    opacity: 1;
    padding-block: 3rem;
  }
  & .subDropdown_item_category a {
    padding-left: 0;
    opacity: 1;
  }
}

.subDropdown_item_category.focused a span {
  color: $clr-primary;
}

// subDropdown categories Detail list

.subDropdown_item_detail_container ul {
  display: flex;
  justify-content: flex-start;
  gap: 7.8rem;
  padding-block: 2rem;
  height: 100%;
  overflow: auto;
  align-items: flex-start;
  padding-inline: 2rem;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 3rem, rgb(0, 0, 0) 97%, rgba(0, 0, 0, 0));
}

.subDropdown_item_detail_container ul::-webkit-scrollbar {
  height: 5px;
}
.subDropdown_item_detail_container ul::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.subDropdown_item_detail_container ul::-webkit-scrollbar-thumb {
  background: $clr-primary;
  border-radius: 1.2rem;
}

.subDropdown_item_detail a {
  display: grid;
  place-items: center;
  gap: 2.5rem;
  & > p {
    font-size: $font-size-base;
    font-weight: $font-semibold;
    letter-spacing: $letter-spacing-md;
  }
}

.subDropdown_item_detail a span {
  width: $w-submenu-item-detail;
  height: $h-submenu-item-detail;
  display: inline-block;
  border-radius: 50%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

.subDropdown_item_detail_container .submenu {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 1s ease;
}

.subDropdown_item_detail_container .submenu.open {
  max-height: 100%;
  visibility: visible;
  opacity: 1;
}

// Start --------------------------------- Drop_Down_Mobile -------------------------------->

.dropDown_mobile_container {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  @include respond-to(medium) {
    display: none;
  }
  & nav {
    padding-inline: $pd-body-inline-base;
    padding-top: 3.2rem;
  }
  &.open {
    border-top: 1px solid $clr-border;
    height: calc(100% - $height-header-sm);
  }
}
.mobile_menu_learn button,
.mobile_menu_shop button {
  width: 100%;
  @include flex-row-jc(space-between);
  font-size: $font-size-mobile-menu-heading;
  font-weight: $font-semibold;
  background-color: transparent;
  border: none;
  & span {
    pointer-events: none;
  }
  & img {
    pointer-events: none;
    width: 2.4rem;
    height: 2.4rem;
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }
  &.open img {
    transform: rotate(0deg);
    pointer-events: none;
  }
}
.mobile_menu_shop button{
  margin-bottom: $m-mobile-submenu;
}

// Start ------------------------------ mobile_submenu --------------------------->
.mobile_submenu_shop {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding-bottom: 0;
  transition: max-height .9s ease , opacity .5s ease, padding .7s ease;
  & ul {
    display: grid;
    gap: 1.6rem;
    padding-inline: 1px;
    & li{
      border-radius: 2rem;
      background-color: $clr--bg-mobile-submenu;
      margin-left: 2rem;
      opacity: 0;
      transition: margin .6s ease;
    }
    & li:nth-child(2){
      transition-delay: .1s;
    }

    & li:nth-child(3){
      transition-delay: .2s;
    }
  }
}
.mobile_menu_shop button.open + .mobile_submenu_shop{
  max-height: 48rem;
  opacity: 1;
  padding-bottom: $pd-mobile-submenu;
  & li{
    margin-left: 0;
    opacity: 1;
  }
}

.mobile_menu_shop a {
  display: grid;
  padding: 1.6rem;
  gap: 2rem;
  align-items: center;
  grid-template-columns: 13rem 1fr;
  & > div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  & > div:last-child h4{
    font-size: $font-size-md;
    margin-bottom: 1rem;
    letter-spacing: $letter-spacing-lg;
  }

  & > div:last-child p{
    font-size: $font-size-sm;
  }
}

// submenu learn
.mobile_submenu_learn{
  max-height: 0;
  transition: max-height .9s ease, opacity .6s ease;
  opacity: 0;
  overflow: hidden;
  & a{
    margin-left: 2rem;
    padding-top: $pd-mobile-submenu;
    font-size: $font-size-xsm;
    font-weight: $font-semibold;
    color: $clr-text-secondary;
    letter-spacing: $letter-spacing-xl;
    transition: margin .6s ease;
  }
}

.mobile_menu_learn button.open + .mobile_submenu_learn{
  opacity: 1;
  max-height: 6rem;
  margin-left: 0;
  & a{
    margin-left: 0;
  }
}

// mobile util links signUp/Login
.mobile_signUp_link_container{
  padding-inline: $pd-inline-mobile-signUp;
  padding-top: $pd-top-mobile-signUp;
  padding-bottom: $pd-bottom-mobile-singUp;
  background-color: $clr--bg-mobile-submenu;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .8rem;
  margin-top: auto;
}