@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// main dropdown container
.dropDown_container{
  position: absolute;
  left: 0;
  right: 0;
  height: 0%;
  top: 7.4rem;
  background-color: $clr-dropDown-backdrop;
  transition: opacity 0.5s ease;
  opacity: 0;
  @include respond-to(medium){
    top: 8.8rem;
  }
}

// dropdown in open state
.dropDown_container.open{
  height: 100%;
  opacity: 1;
}

.dropDown_menu{
  background-color: $clr-btn--bg-primary;
  height: 0;
  transition: height .7s ease, opacity .7s ease, visibility .5s ease;
  opacity: 0;
  padding-inline: 8rem;
  padding-block: 3rem;
  display: grid;
  grid-template-columns: 33rem 1fr;  
  overflow: hidden;
  visibility: hidden;
}

.dropDown_container.open .dropDown_menu{
  visibility: visible;
  height: 46rem;
  opacity: 1;
}

// subDropdown categories list
.subDropdown_category-container ul{
  display: grid;
  gap: 2rem
}
.subDropdown_item_category{
  font-size: 5.5rem;
  font-family: $font-primaryBold;
  line-height: $leading-snug;
  position: relative;
}

// subDropdown categories Detail list
.subDropdown_item_detail_container  ul{
  display: flex;
  justify-content: flex-start;
  gap: 7.8rem;
  padding-block: 2rem;
  height: 100%;
  align-items: flex-start;
}
.subDropdown_item_detail ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.subDropdown_item_detail a {
  display: grid;
  place-items: center;
  gap: 2rem;
  & > p{
    font-size: $font-size-md;
  } 
}

.subDropdown_item_detail a span {
  width: $w-submenu-item-detail;
  height: $h-submenu-item-detail;
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }
}

