@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


//  TODO fix error icons not showing in firefox under failed validation fields
form {
  & .form_fields_list {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
  }

  & .form_field {
    position: relative;

    &:has(.checkout_form_field_container.validationFailed) {
      & .checkout_form_field_container input {
        border: 2px solid $clr-error;
      }

      & .error_message {
        display: block;
      }
    }

    &.validationFailed .error_message {
      display: block;
    }

    &.validationFailed input {
      border: 2px solid $clr-error;
    }
  }

  & .form_field input {
    @include formInput;
    border: 1px solid $clr-border;
    height: 4.7rem;
    line-height: 4.7rem; 

  }

  & .form_field label {
    @include formInputLabel;
    font-size: 1.4rem;
    font-weight: normal;
  }

  & label[data-select-label]{
    top: 0.5rem;
    font-size: 0.9rem;
    transform: translateY(0);
    @include respond-to(medium) {
      font-size: 1rem;
    }
  }
}

.error_message {
  color: $clr-error;
  font-size: 13px;
  position: absolute;
  bottom: -2rem;
  left: 0;
  // margin-block: .5rem;
  display: none;
  & span img {
    width: 1.2rem;
  }
}
