@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;

.loading_animation_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
  height: 75%;
}

button.async_button.processing .loading_animation_wrapper {
  display: block;
}

.loader {
  @include loader();
  &--white {
    @include loader(rgb(255, 255, 255));
  }
}
