@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.product_card {
  background-color: $clr-product-bg;
  border-radius: 6rem;
  overflow: hidden;
  position: relative;
  @include productCard_layout;
  
}

.product_card a{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 6rem;
  z-index: 1;
}


.product_card .product_card_info {
  margin-top: 3.5rem;
  text-align: center;
  color: $clr-primary;
  margin-bottom: 1.6rem;

  @include respond-to(medium) {
    margin-top: 4.5rem;
  }

  & > p:first-child {
    font-size: 1.8rem;
    font-weight: $font-semibold;
    margin-bottom: 1rem;
    line-height: 3rem;
  }

  & > p:last-child {
    font-size: $font-size-sm;
    font-weight: 500;
    @include respond-to(medium) {
      font-size: $font-size-base;
    }
  }
}

.product_card .product_card_image {
  height: 100%;
  width: 100%;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// add to cart button 
.product_addToCart_container{
  position: absolute;
  padding-inline: 3rem ;
  bottom: 3rem;
  right: 0;
  left: 0;
  z-index: 2;
}



.addTOCart_action .plus_icon ,
.plus_icon_btn{
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  background-color: white;
  @include flex-row-jc(center);
  &.plus_icon{
    position: absolute;
    right: 0;
    pointer-events: none;
  }
  & img{
    width: 2rem;
    height: 2rem;
  }
}

.addTOCart_action{
  position: relative;
  border-radius: 4.4rem;
  transition: all .7s ease;
  background-color: transparent;
  @include flex-row-jc(center);
  & > button{
    background-color: transparent;  
    background-color: white;
    padding-block: 1.6rem;
    border-radius: inherit;
    flex: 1;
    border: none;
    opacity: 0;
    transition: opacity .7s ease;
    font-size: $font-size-base;
    font-weight: $font-semibold;
    @include flex-row-jc(center)
  }
}

.product_card:hover .addTOCart_action, 
.addTOCart_action:has(button:focus-visible) {
  background-color: white;

  & button{
    transition: opacity .7s ease;
    opacity: 1;
  }
}
