@use "../abstracts/variables" as *;
// breakPoints manager for responsive design
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media screen and (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

// flexbox space between
@mixin flex-row-jc($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  @content;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @content;
}

// button
@mixin button($trans-dur: 0.3s) {
  border-radius: $br-btn;
  color: $clr-primary;
  background-color: $clr-accent;
  font-size: $font-size-sm;
  border: 1px solid $clr-primary;
  padding-inline: $pd-btn-inline;
  padding-block: $pd-btn-block;
  font-weight: $font-semibold;
  line-height: $leading-btn;
  text-align: center;
  width: fit-content;
  transition: background-color $trans-dur linear, outline-offset $trans-dur linear;
  @include flex-row-jc(center);
  @include respond-to(medium) {
    font-size: $font-size-base;
    padding-block: $pd-btn-block-lg;
    padding-inline: $pd-btn-inline-lg;
  }
  &:hover {
    background-color: $clr-primary;
    color: white;
  }
}

// centers the element with in its parent using position absolute;
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// styles for dropdown button for menu and submenu
@mixin dropDown-button($right: 0) {
  border: none;
  background-color: transparent;
  position: absolute;
  right: $right;
  top: 42%;
  transform: translateY(-40%);
  max-height: 0;
  overflow: hidden;
  &:focus {
    overflow: visible;
    max-height: auto;
  }
  & > svg {
    width: 1.8rem;
  }
}

@mixin subDropdown-button {
  max-height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  opacity: 0;
  max-width: 0;
  &:focus {
    opacity: 1;
    max-width: fit-content;
  }
  & svg {
    width: $dropDown-button-svg-width;
  }
}

// nav links
@mixin navLinks {
  background-color: transparent;
  border: none;
  font-weight: $font-semibold;
  letter-spacing: $letter-spacing-lg;
  font-size: $font-size-xsm;
  color: $clr-primary;
  @include respond-to("medium") {
    font-size: $font-size-sm;
  }
}

// scrollBar
@mixin scrollBar($height: 5px) {
  &::-webkit-scrollbar {
    height: $height;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr-primary;
    border-radius: 1.2rem;
  }
}

// container
@mixin container($max-width: 1300px) {
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
}

// category-section of collection page
@mixin category-section($mr-top-sm: 9rem) {
  margin-top: 3rem;
  padding-inline: 1.8rem;
  margin-bottom: 4rem;
  @include respond-to(small) {
    margin-top: $mr-top-sm;
    padding-inline: 2rem;
    margin-bottom: 8rem;
  }
  .category_section_header {
    @include flex-row-jc(space-between);
    margin-bottom: 3rem;
    & h2 {
      font-size: 2rem;
      @include respond-to(small) {
        font-size: 3.5rem;
      }
    }
    & > p{
      color: $clr-primary;
      font-weight: $font-semibold;
      font-size: $font-size-xsm;
      letter-spacing: $letter-spacing-xl;
      @include respond-to(small){
        font-size: $font-size-base;
      }
    }
    & > p span:first-child{
      margin-right: 3px;
    }
  }
}
