@use "../abstracts/variables" as *;
// breakPoints manager for responsive design
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media screen and (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

// flexbox space between
@mixin flex-row-jc($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  @content;
}

// button
@mixin button($trans-dur: 0.3s) {
  border-radius: $br-btn;
  color: $clr-primary;
  background-color: $clr-btn--bg-primary;
  font-size: $font-size-sm;
  border: 1px solid $clr-primary;
  padding-inline: $pd-btn-inline;
  padding-block: $pd-btn-block;
  font-weight: $font-semibold;
  line-height: $leading-btn;
  text-align: center;
  width: fit-content;
  transition: background-color $trans-dur linear, outline-offset $trans-dur linear;
  @include flex-row-jc(center);
  @include respond-to(medium) {
    font-size: $font-size-base;
    padding-block: $pd-btn-block-lg;
    padding-inline: $pd-btn-inline-lg;
  }
  &:hover {
    background-color: $clr-primary;
    color: white;
  }
  &:focus {
    outline: 3px solid $clr-btn-focus;
    outline-offset: $focus-offset-btn;
  }
}

// centers the element with in its parent using position absolute;
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// styles for dropdown button for menu and submenu
@mixin dropDown-button($right: 0) {
  border: none;
  background-color: transparent;
  position: absolute;
  right: $right;
  top: 42%;
  transform: translateY(-40%);
  max-height: 0;
  overflow: hidden;
  &:focus {
    overflow: visible;
    max-height: auto;
  }
  & > svg{
    width: 1.8rem;
  }
}

@mixin subDropdown-button{
  max-height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  opacity: 0;
  max-width: 0;
  &:focus{
    opacity: 1;
    max-width: fit-content;
  }
  & svg{
    width: $dropDown-button-svg-width;
  }
}

// nav links
@mixin navLinks{
  background-color: transparent;
  border: none;
  font-weight: $font-semibold;
  letter-spacing: $letter-spacing-lg;
  font-size: $font-size-xsm;
  color: $clr-primary;
  @include respond-to('medium'){
    font-size: $font-size-sm;
  }
}