@use "../abstracts/variables" as *;
@use "../abstracts//animations" as *;

// breakPoints manager for responsive design
@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media screen and (min-width: 767px) {
      @content;
    }
  } @else if $breakpoint == "x-small" {
    @media screen and (min-width: 580px) {
      @content;
    }
  } @else if $breakpoint == "medium" {
    @media screen and (min-width: 992px) {
      @content;
    }
  } @else if $breakpoint == "large" {
    @media screen and (min-width: 1200px) {
      @content;
    }
  }
}

// flexbox space between
@mixin flex-row-jc($justifyContent) {
  display: flex;
  align-items: center;
  justify-content: $justifyContent;
  @content;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @content;
}

// button
@mixin button($trans-dur: 0.2s) {
  border-radius: $br-btn;
  color: $clr-primary;
  background-color: $clr-accent;
  font-size: $font-size-sm;
  border: 1px solid $clr-primary;
  padding-inline: $pd-btn-inline;
  padding-block: $pd-btn-block;
  font-weight: $font-semibold;
  line-height: $leading-btn;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
  transition: background-color $trans-dur linear,
    outline-offset $trans-dur linear;
  @include flex-row-jc(center);
  @include respond-to(medium) {
    font-size: $font-size-base;
    padding-block: $pd-btn-block-lg;
    padding-inline: $pd-btn-inline-lg;
  }
  &:hover {
    background-color: $clr-primary;
    color: white;
  }
  
}

// centers the element with in its parent using position absolute;
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// styles for dropdown button for menu and submenu
@mixin dropDown-button($right: 0) {
  border: none;
  background-color: transparent;
  position: absolute;
  right: $right;
  top: 42%;
  transform: translateY(-40%);
  max-height: 0;
  overflow: hidden;
  &:focus {
    overflow: visible;
    max-height: auto;
  }
  & > svg {
    width: 1.8rem;
  }
}

@mixin subDropdown-button {
  max-height: fit-content;
  width: fit-content;
  background-color: transparent;
  border: none;
  opacity: 0;
  max-width: 0;
  &:focus {
    opacity: 1;
    max-width: fit-content;
  }
  & svg {
    width: $dropDown-button-svg-width;
  }
}

// nav links
@mixin navLinks {
  background-color: transparent;
  border: none;
  font-weight: $font-semibold;
  letter-spacing: $letter-spacing-lg;
  font-size: $font-size-xsm;
  color: $clr-primary;
  @include respond-to("medium") {
    font-size: $font-size-sm;
  }
}

// scrollBar
@mixin scrollBar($height: 5px) {
  scrollbar-color: $clr-primary;

  &::-webkit-scrollbar {
    height: $height;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr-primary;
    border-radius: 1.2rem;
  }
}

// container
@mixin container($max-width: 1300px) {
  width: 100%;
  max-width: $max-width;
  margin-inline: auto;
}

// category-section of collection page
@mixin category-section($mr-top-sm: 9rem) {
  margin-top: 3rem;
  padding-inline: 1.8rem;
  margin-bottom: 4rem;
  @include respond-to(small) {
    margin-top: $mr-top-sm;
    padding-inline: 2rem;
    margin-bottom: 8rem;
  }
  .category_section_header {
    @include flex-row-jc(space-between);
    margin-bottom: 3rem;
    & h2 {
      font-size: 2rem;
      @include respond-to(small) {
        font-size: 3.5rem;
      }
    }
    & > p {
      color: $clr-primary;
      font-weight: $font-semibold;
      font-size: $font-size-xsm;
      letter-spacing: $letter-spacing-xl;
      @include respond-to(small) {
        font-size: $font-size-base;
      }
    }
    & > p span:first-child {
      margin-right: 3px;
    }
  }
}

// product card layout
@mixin productCard_layout {
  background-color: $clr-product-bg;
  border-radius: $radius-product-card;
  // overflow: hidden;
  max-height: 54.3rem;
  @include respond-to(small) {
    max-height: 42rem;
  }
  @include respond-to(medium) {
    max-height: 36.3rem;
    border-radius: $radius-product-card-md;
  }
}

// product banner layout
@mixin productBanner_layout {
  background-color: $clr-product-banner-bg;
  border-radius: 2rem;
  overflow: hidden;
  max-height: 23rem;
  @include respond-to(small) {
    max-height: 30rem;
  }
  @include respond-to(medium) {
    max-height: 31.4rem;
    border-radius: 6rem;
  }
}

// form input field

@mixin formInput {
  width: 100%;
  padding-inline: 1.8rem;
  padding-block: 0.5rem;
  outline: none;
  border: none;
  border-radius: 6.5rem;
  font-size: 1.1rem;
  line-height: 4rem;
  height: 4rem;
  color: black;
  padding-top: 1.2rem;
  font-weight: 500;

  &::placeholder {
    color: white;
  }

  &:not(:placeholder-shown, [type="checkbox"]) + label,
  &:focus + label {
    top: 0.5rem;
    font-size: 0.9rem;
    transform: translateY(0);
    @include respond-to(medium) {
      font-size: 1rem;
    }
  }

  @include respond-to(medium) {
    font-size: $font-size-sm;
    padding-top: 1.2rem;
  }
}

// form input label
@mixin formInputLabel {
  position: absolute;
  font-size: 1.1rem;
  color: $clr-text-secondary;
  font-weight: $font-semibold;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  left: 1.9rem;
  transition: all 0.2s ease;
}

// notification
@mixin notification($clr-bg) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: $clr-bg;
  color: white;
  font-size: $font-size-base;
  padding-block: 2rem;
  padding-inline: 2.8rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.19);
  white-space: nowrap;
  margin-block: 1rem;
  animation: dropIn 0.3s ease forwards;
}

@mixin navButton {
  background-color: transparent;
  color: $clr-primary;
  letter-spacing: $letter-spacing-lg;
  font-weight: $font-semibold;
  border: none;
  font-size: 1rem;
  position: absolute;
  padding: 1rem;
  top: 1.2rem;
  right: 1rem;
}

// dropDown Collection
@mixin dropDown_CollectionList {
  display: grid;
  gap: 1.6rem;
  padding-inline: 1px;

  & li {
    border-radius: 2rem;
    background-color: $clr-bg-primary;

    & a {
      display: grid;
      padding: 1.6rem;
      gap: 2rem;
      align-items: center;
      grid-template-columns: 13rem 1fr;
      & .empty_cart_collection_image_container {
        max-width: 13rem;
        max-height: 8.6rem;
        border-radius: 1rem;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }

      & > div:last-child h4 {
        font-size: $font-size-md;
        margin-bottom: 1rem;
        letter-spacing: $letter-spacing-lg;
      }

      & > div:last-child p {
        font-size: $font-size-sm;
      }
    }
  }
}

@mixin item_Quantity_spinner($input-width: 3.5rem) {
  border-radius: $br-large;
  border: 1px solid $clr-border;
  color: $clr-primary;
  @include flex-row-jc(space-between);
  font-size: $font-size-sm;
  flex: 1;
  max-width: 8.6rem;
  font-weight: $font-semibold;

  & .item_quantity_input {
    width: $input-width;
    text-align: center;
    text-decoration: none;
    color: $clr-primary;
    font-weight: $font-semibold;
    outline: none;
    border: none;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
      appearance: none;
    }
    -moz-appearance: textfield;
  }

  & > button {
    font-weight: $font-semibold;
    background-color: transparent;
    border: none;
    padding-block: 1rem;

    &:not(:disabled) {
      color: $clr-primary;
    }

    & > * {
      pointer-events: none;
    }

    &.decrease_Quantity_button {
      padding-left: 1.2rem;
      padding-right: 0.5rem;
    }
    &.increase_Quantity_button {
      padding-right: 1.2rem;
      padding-left: 0.5rem;
    }
  }

  @include respond-to(medium) {
    font-size: $font-size-base;
    max-width: 9.8rem;
    & > button {
      font-size: $font-size-base;
      padding-block: 1.4rem;
      &.decrease_Quantity_button {
        padding-left: 1.7rem;
        padding-right: 0.5rem;
      }
      &.increase_Quantity_button {
        padding-right: 1.7rem;
        padding-left: 0.5rem;
      }
    }
  }
}

// accordion

@mixin accordion {
  font-size: $font-size-xsm;

  &:last-child {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.507);
  }

  & .accordion_button {
    background-color: transparent;
    border: none;
    padding-top: 1.6rem;
    padding-bottom: 1.5rem;
    font-weight: $font-semibold;
    letter-spacing: $letter-spacing-xl;
    color: $clr-primary;
    width: 100%;
    @include flex-row-jc(space-between);
    & img {
      width: 2rem;
    }
  }

  & .accordion_heading {
    display: none;
    font-size: $font-size-sm;
    letter-spacing: $letter-spacing-xl;
    margin-bottom: 1.6rem;
    font-weight: $font-semibold;
  }

  & .accordion_itemList li:last-child {
    margin-bottom: 1.5rem;
  }

  & .accordion_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-time-accordion ease;
    visibility: none;
    &.open {
      visibility: visible;
    }
  }

  & .accordion_body .accordion_products_body_text {
    padding-top: 0.5rem;
    padding-bottom: 2.4rem;
    padding-right: 2rem;
    font-size: $font-size-sm;
    color: $clr-primary;
  }

  & .accordion_itemList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    & a {
      color: white;
    }
  }

  & .accordion_button_arrowIcon img {
    transition: transform $transition-time-accordion ease;
  }

  & .accordion_button.open .accordion_button_arrowIcon img {
    transform: rotate(180deg);
  }
  @include respond-to(small) {
    font-size: $font-size-sm;
  }
}

@mixin overLay($transitionTime: 0.5s) {
  position: fixed;
  top: -$height-header-sm;
  height: calc(100% + $height-header-sm);
  width: 100vw;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-overlay;
  transition: all $transitionTime ease-in;
  @include respond-to(medium) {
    top: -$height-header-lg;
    height: calc(100% + $height-header-lg);
  }
  &.active {
    opacity: 0.4;
    visibility: visible;
  }
}
