<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin src="/assets/main-DiZ_SARm.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/main-MR-5jJQg.css">
    <title>Phil's Refills</title>
  </head>
  <body data-page="home">
    <header><%- include('./partials/_header.ejs',{user}) %></header>
    <main id="main">
      <!-- Start --------------------------------------- Hero-Section ----------------------------------------- -->
      <section class="hero">
        <div class="hero_mainDetail">
          <h1>Ditch Plastic</h1>
          <p>Supercharged performance personal care on a mission to slash your plastic footprint. Low impact packaging, high impact results.</p>
          <a href="/collections" class="button--primary">
            <span>Shop All</span>
            <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
        <div class="hero_scrollImage_container">
          <div class="hero_image_scroller" data-imageOuterScroller>
            <div class="hero_image_inner_scroller" data-imageInnerScroller>
              <span><img src="/assets/ShaveThePlanetShaveBar.webp" alt="" /></span>
              <span><img src="/assets/web-25-Pattern_r1_soap-gif-2_2560x.webp" alt="" /></span>
              <span><img src="/assets/ShavingCream.webp" alt="" /></span>
              <span><img src="/assets/philsWeb3gif.webp" alt="" /></span>
              <span><img src="/assets/DailyFacialCleanser_Achilles_0659_1296x.webp" alt="" /></span>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- START -------------------------------------- Footer ---------------------------------------------------- -->

    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
