<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs") %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>
  <body data-page="login">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------- -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig})%>

    <!-- START ---------------------------- Main ----------------- -->

    <main>
      <section class="auth_form_container">
        <h1>Login</h1>
        <section>
          <form action="" data-signInForm class="signIn_form">
            <ul class="form_fields_list">
              <li class="form_field">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Email"
                  required
                  autocomplete="email"
                  data-email
                />
                <label for="email" class="" aria-hidden="false">Email</label>
                <div class="error_message">
                  <span
                    ><img
                      src="/assets/errorIcon.svg"
                      width="12"
                      height="12"
                      alt=""
                  /></span>
                  <span>Email is invalid</span>
                </div>
              </li>
              <li class="form_field">
                <button
                  class="togglePassword_visibility_button"
                  type="button"
                  aria-label="show password"
                  title="show password"
                  data-eyeIconButton
                >
                  <i class="fas fa-eye-slash eye_icon"></i>
                </button>
                <input
                  type="password"
                  id="password"
                  name="password"
                  placeholder="password"
                  data-password
                  required
                />
                <label for="password" class="" aria-hidden="false"
                  >Password</label
                >
                <div class="error_message">
                  <span
                    ><img
                      src="/assets/errorIcon.svg"
                      width="12"
                      height="12"
                      alt=""
                  /></span>
                  <span>Enter a strong password</span>
                </div>
              </li>
            </ul>

            <a href="" class="login_form_forgetPassword"
              >Forgot your Password?</a
            >

            <p>
              <button
                type="button"
                class="button--formSubmit async_button"
                data-signIn-button
              >
                <div class="loading_animation_wrapper">
                  <div class="loader"></div>
                </div>
                <span class="async_button_text"> Sign in </span>
              </button>
            </p>

            <a href="/account/register" class="login_form_createAccount"
              >Create account</a
            >
          </form>
        </section>
      </section>
    </main>

    <!--Start ------------------------ Footer ----------------------------- -->
    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
