<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
  </head>
  <body data-page="home">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------- -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig})%>
    <!-- Start --------------------------- Main -------------------------------------------- -->
    <main>
      <section class="notFound_hero_section">
        <h3 class="notFound_404_code_heading">404</h3>
        <h1 class="notFound_test_heading">Page not Found</h1>
        <a href="/collections" class="button--primary button_continue_shopping">Continue Shopping</a>
      </section>
    </main>
    <!-- START -------------------------------------- Footer ---------------------------------------------------- -->

    <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
