<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/_documentHead.ejs")  %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body data-page="register">
    <a class="button--skipToMain" href="#main">Skip to content</a>

    <div class="overLay" data-overlay></div>

    <div class="notification_center" data-notification-center></div>

    <!-- Start ------------------------------- Header ------------------------------------- -->
    <header><%- include('./partials/_header.ejs',{user}) %></header>

    <!-- Start ------------------------------------- Cart ---------------------------------- -->
    <%- include('./partials/_cart.ejs',{cart,shippingConfig})%>

     <!-- START ---------------------------- Main ----------------- -->
     <main>
      <section class="auth_form_container">
        <h1>Create account</h1>
        <section>
          <form action="" data-registerForm>
            <ul class="form_fields_list">
              <li class="form_field">
                <input type="text" id="firstName" name="firstName" placeholder="First name" maxlength="50" required autocomplete="given-name" data-firstNameField/>
                <label for="firstName" class="" aria-hidden="false">First Name</label>
                <div class="error_message">
                  <span><img src="/assets/errorIcon.svg" width="12" height="12" alt=""></span>
                   <span>FirstName is invalid</span>
                 </div>
              </li>
              <li class="form_field">
                <input type="text" id="lastName" name="lastName" placeholder="Last name" required maxlength="50" autocomplete="given-name" data-lastNameField/>
                <label for="lastName" class="" aria-hidden="false">Last Name</label>
                <div class="error_message">
                  <span><img src="/assets/errorIcon.svg" width="12" height="12" alt=""></span>
                   <span>LastName is invalid</span>
                 </div>
              </li>
              <li class="form_field">
                <input type="email" id="email" name="email" placeholder="Email" required autocomplete="email" data-emailField/>
                <label for="email" class="" aria-hidden="false">Email</label>
                <div class="error_message">
                  <span><img src="/assets/errorIcon.svg" width="12" height="12" alt=""></span>
                   <span>Email is invalid</span>
                 </div>
              </li>
              <li class="form_field">
                <button class="togglePassword_visibility_button" type="button" aria-label="show password" title="show password" data-eyeIconButton>
                  <i class="fas fa-eye-slash eye_icon" ></i>
                </button>
                <input type="password" id="password" name="password" placeholder="password" required data-passwordField/>
                <label for="email" class="" aria-hidden="false">Password</label>
                <div class="error_message">
                 <span><img src="/assets/errorIcon.svg" width="12" height="12" alt=""></span>
                  <span>Password is weak</span>
                </div>
              </li>
            </ul>
            <p>
              <button type="submit" class="button--formSubmit" data-submitButton>Create</button>
            </p>
          </form>
        </section>
      </section>
    </main>
     <!-- Start ------------------------------------------------ Footer ------------------------------------------------ -->
     <footer><%- include('./partials/_footer.ejs') %></footer>
  </body>
</html>
