@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// header

body[data-page="checkout"] {
  font-family: $font-checkout-page;
  color: black;
  padding-top: 0;

  & header {
    position: static;
    height: $height-header-sm;
    @include respond-to(small) {
      height: $height-header-lg;
    }
  }
  & button {
    font-family: $font-checkout-page;
  }
}

.checkout_nav {
  @include container($container-checkout);
  padding: 2.1rem;
  @include flex-row-jc(space-between);

  & .phils_heading_link {
    font-size: 2.2rem;
    font-weight: bold;
    color: black;
  }

  & .checkout_cart_link {
    & span img {
      width: 2rem;
    }
  }

  @include respond-to(small) {
    padding-inline: 3.8rem;
  }
}

// --------------- main ------------->

.checkout_page_main {
  @include respond-to(medium) {
    border-top: 1px solid $clr-border;
  }
}

.checkout_section_wrapper {
  @include respond-to(medium) {
    display: flex;
    flex-direction: row-reverse;
    @include container($container-checkout);
  }
}

.order_summary_section {
  background-color: $clr-bg-checkout;
  @include respond-to(medium) {
    flex: 1;
    border-left: 1px solid $clr-border;
    position: sticky;
    top: 40rem;
  }
}

.order_summary_container {
  & .order_summary_button {
    & .order_summary_button_text_wrapper {
      display: inline-block;
      @include container($container-checkout-inner-section);
      @include flex-row-jc(space-between);
      padding-inline: 2.1rem;
      padding-block: 1.7rem;
    }
    border: 1px solid $clr-border;
    font-size: $font-size-sm;
    width: 100%;
    background-color: transparent;

    & .summary_text {
      color: $clr-text-blue;
      display: flex;
      align-items: center;

      & .arrow_down_svg_wrapper {
        display: inline-block;
        margin-left: 1rem;
      }

      & svg {
        width: 1.6rem;
        height: 1.6rem;
      }
    }

    & .order_total_price {
      font-weight: $font-semibold;
      font-size: 1.8rem;
    }

    &.open .arrow_down_svg_wrapper {
      transform: rotate(180deg);
    }
  }

  @include respond-to(medium) {
    position: sticky;
    top: 0;
    & .order_summary_button {
      display: none;
      overflow: hidden;
    }
  }
}

.order_summary_detail_container {
  max-height: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  transform: translateY();
  @include container(53rem);

  & p {
    margin-bottom: 0;
  }

  & .order_summary_wrapper {
    // border-top: 1px solid $clr-border;
    padding: 2.1rem 2.1rem 1.7rem 2.1rem;

    & .order_items_list_container {
      margin-bottom: 2rem;
      & ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
      }
    }
  }

  &.open {
    border-bottom: 1px solid $clr-border;
  }

  @include respond-to(medium) {
    margin: 0;
    max-height: 200vh;
    & .order_summary_wrapper {
      padding: 3.8rem;
    }
    &.open {
      border-bottom: none;
    }
  }
}

.order_total_section {
  font-size: $font-size-sm;

  & p {
    margin-bottom: 0;
  }

  & div {
    @include flex-row-jc(space-between);
  }

  & div:not(:last-child) {
    margin-bottom: 8px;
  }

  & div:last-child {
    & p:first-child {
      font-size: 19px;
      font-weight: $font-semibold;
    }

    & p:last-child {
      & strong {
        font-size: 2.1rem;
      }

      & abbr {
        font-size: $font-size-sm;
        color: $clr-text-abbr;
        margin-right: 5px;
      }
    }
  }
}

.order_summary_detail_container .order_cart_item {
  @include flex-row-jc(space-between);
  column-gap: 0.8rem;
  font-size: $font-size-sm;

  & .order_item_description {
    @include flex-row-jc(center);

    & p {
      margin-left: 1.4rem;
    }
  }
  & .order_item_price {
    white-space: nowrap;
  }

  & .order_cart_item_image_container {
    width: 64px;
    aspect-ratio: 1;
    border: 1px solid $clr-border;
    border-radius: 4px;
    position: relative;

    & img {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .order_item_quantity {
      position: absolute;
      top: -1rem;
      right: -1rem;
      display: inline-block;
      height: 22px;
      width: 22px;
      background-color: #666666;
      border-radius: 50%;
      font-size: $font-size-xsm;
      font-weight: $font-semibold;
      color: $clr-text-half-white;
      @include flex-row-jc(center);
    }
  }
}

// -------------- checkout-form --------------->


form[data-checkout-form]{
  & form input[type="text"],
  & input:not([type="radio"]),
  & select {
    border-radius: 5px;
    height: 4.9rem;
    line-height: 4.9rem;
    font-size: $font-size-sm;
    font-weight: normal;
  }



  & .form_field input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
  }

  & select {
    width: 100%;
    background-color: transparent;
    padding-block: .4rem;
    padding-inline: 1.7rem;
    border: 1px solid $clr-border;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  & .form_field .checkout_form_field_container {
    width: 100%;
    position: relative;
  }

  & .form_field .error_message {
    color: $clr-error;
    font-size: 13px;
    position: static;
    margin-block: 0.5rem;
  }
  .checkout_form_section_heading {
    font-size: 2.1rem;
    font-weight: $font-semibold;
    margin-bottom: 1.2rem;
    color: black;
  }

  & .form_subscribe_news_container,
  & .form_save_info_container {
    @include flex-row-jc(flex-start);

    & input[type="checkbox"] {
      font-size: 4rem;
      width: 1.8rem;
      height: 1.8rem;
    }

    & label {
      color: black;
      font-size: $font-size-sm;
      margin-left: 1.1rem;
    }
  }
}

.checkout_form_section {
  & .checkout_form_container {
    @include container($container-checkout-inner-section);
    padding: 1.7rem 2.1rem;
  }

  & form input[type="text"],
  & input:not([type="radio"]) {
    border-radius: 5px;
    height: 4.9rem;
    line-height: 4.9rem;
    font-size: $font-size-sm;
    font-weight: normal;
  }

  & .form_field input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
  & .form_field .checkout_form_field_container {
    width: 100%;
    position: relative;
  }

  & .form_field .error_message {
    color: $clr-error;
    font-size: 13px;
    position: static;
    margin-block: 0.5rem;
  }
  .checkout_form_section_heading {
    font-size: 2.1rem;
    font-weight: $font-semibold;
    margin-bottom: 1.2rem;
    color: black;
  }

  & .form_subscribe_news_container,
  & .form_save_info_container {
    @include flex-row-jc(flex-start);

    & input[type="checkbox"] {
      font-size: 4rem;
      border-color: red;
      width: 1.8rem;
      height: 1.8rem;
    }

    & label {
      font-size: $font-size-sm;
      margin-left: 1.1rem;
    }
  }

  @include respond-to(medium) {
    flex: 1;

    & .checkout_form_container {
      padding: 3.8rem;
      margin-inline: 0;
      max-width: 100%;
    }
  }
}

.checkout_form_contact_section {
  padding: 0;
  margin-bottom: 2rem;

  & .form_field {
    margin-bottom: 1.6rem;
  }
}

// registered account section
.checkout_form_container {
  & .checkout_form_account_section,
  & .checkout_form_shipping_address_section,
  & .checkout_form_registered_user_payment_section {
    border-bottom: 1px solid $clr-border;
    padding-block: 1.8rem;
    font-size: $font-size-sm;
  }

  & button.registered_account_accordion_button {
    color: $clr-text-secondary;
    margin-bottom: 1rem;
    border: none;
    background-color: transparent;
  }
}

.checkout_form_shipping_address_section {
  position: relative;
  & .checkout_shipto_accordion_button {
    width: 100%;
    @include flex-row-jc(space-between);
    & .arrow_down_svg_wrapper {
      background-color: rgba(23, 115, 176, 0.05);
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      display: inline-block;

      & svg {
        color: $clr-text-blue;
      }
    }

    &.open .arrow_down_svg_wrapper {
      transform: rotate(180deg);
    }

    &.open + .checkout_selected_shipping_address_container{
      visibility: none;
      opacity: 0;
      max-height: 0;
      overflow: hidden;
    }
  }
  & .checkout_selected_shipping_address_container{
    pointer-events: none;
    transition: opacity .5s ease;
  }
  & .accordion_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
  }
  
  & .checkout_shippingAddresses_list {
    & li {
      border-radius: .4rem;
      &:has(input:checked){
        background-color: $clr-bg-accordion-button;
      }
    }

    
    & label {
      padding: 1.4rem 1rem;
      display: grid;
      grid-template-columns: minmax(auto,1.5rem) 1fr;
      align-items: start;
      gap: 1rem;

      
      & .shipping_address_country_city{
        display: block;
        margin-top: .5rem;
        color: $clr-text-secondary-light;
      }

      & input{
        border: 0px;
        height: 1.8rem;
        width: 1.8rem;
      }
    }
  }

  & .checkout_use_different_address_button {
    background-color: transparent;
    border: none;
    font-size: $font-size-sm;
    color: $clr-text-blue;
    @include flex-row-jc(center);
    & span:first-child {
      display: inline-block;
      font-size: 2.5rem;
      margin-right: 1rem;
    }
  }
}
// add shipping address popup 
.add_shipping_address_popUp_section{
  background-color: transparent;
  width: 100%;
  position: fixed;
  z-index: $z-index-address-popUp;
  opacity: 0;
  transform-origin: bottom;
  bottom: 0;
  max-height: 0;
  transition: max-height .4s ease-out;
  &.show{
    max-height: 73rem;
    opacity: 1;
  }
  
  
  @include respond-to(small){
    transition: opacity .4s ease, scale .3s ease;
    height: 100%;
    padding-inline: 6rem;
    max-height: 51rem;
    max-width: 66rem;
    bottom: -50%;
    left: 50%;
    scale: 0;
    visibility: hidden;
    transform:translateX(-50%) ;
    &.show{
      visibility: visible;
      max-height: 51rem;
      scale: 1;
      bottom: 50%;
      scale: 1;
      transform: translate(-50%,50%);
      opacity: 1;
    }
  }
}

.address_popUp_container{
  border-radius: 1rem;
  background-color: white;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 100%;
  padding: 1.8rem;

  & .popup_heading_container{
    position: relative;    
    
    & h2{
      font-size: 2.2rem;
      color: black
    }

    & button{
      position: absolute;
      right: 0;
      top: -28%;
      font-size: 3rem;
      color: $clr-text-secondary;
      background-color: transparent;
      border: none;
    }
  }

  @include respond-to(small){
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.checkout_save_address_section{
  display: flex;
  padding-block: .5rem;
  @include respond-to(small){
    justify-content: flex-end;
  }
}

// delivery section
.checkout_form_delivery_section {
  padding: $pd-checkout-section;

  & .checkout_form_field_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & .checkout_form_name_field_wrapper,
    & .checkout_form_address_wrapper {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
  }

  @include respond-to(x-small) {
    & .checkout_form_field_wrapper {
      & .checkout_form_name_field_wrapper,
      & .checkout_form_address_wrapper {
        flex-direction: row;

        & .form_field {
          flex: 1;
        }
      }
    }
  }
}

// payment section
.checkout_form_payment_section {
  padding: $pd-checkout-section;

  & .checkout_form_section_heading {
    margin-bottom: 0.6rem;
  }

  & > p {
    font-size: $font-size-sm;
    color: $clr-text-quaternary;
    margin-bottom: 1.6rem;
  }

  & .accordion_payment {
    font-family: $font-checkout-page;
    // border-radius: 5px;
    // border: 1px solid $clr-border-accordion;

    & .accordion_item {
      overflow: hidden;
    }

    & .accordion_item:last-child {
      & .accordion_button {
        border-bottom: 1px solid $clr-border-accordion;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        &.open {
          border-bottom-color: $clr-border-accordion-active;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }

      & .accordion_body.open {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 1px solid $clr-border-accordion;
      }
    }

    & .accordion_item:first-child {
      & .accordion_button {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    & .accordion_button {
      padding: 0;
      background-color: transparent;
      border: 1px solid $clr-border-accordion;
      border-bottom: none;
      width: 100%;

      &.open {
        background-color: $clr-bg-accordion-button;
        border: 1px solid $clr-border-accordion-active;
      }

      // & > *{
      //   pointer-events: none;
      // }
      &::after {
        display: none;
      }

      & > label {
        display: inline-block;
        padding: 1.7rem;
        line-height: 2.1rem;
        width: 100%;
        display: flex;
        align-items: center;

        gap: 1rem;
        // pointer-events: none;
      }

      & input[type="radio"] {
        height: 1.8rem;
        width: 1.8rem;
        pointer-events: none;
      }

      & span {
        display: inline-block;
        pointer-events: none;
        align-self: flex-end;
        font-size: $font-size-sm;
        color: black;
        letter-spacing: normal;
        font-weight: normal;
      }
    }

    & .accordion_body {
      background-color: rgba(0, 0, 0, 0.043);
      font-size: $font-size-sm;
      color: black;
      max-height: 0;
      transition: max-height $transition-time-accordion ease;

      &.open {
        border-inline: 1px solid $clr-border-accordion;
        max-height: 20rem;
      }

      & .accordion_body_text_wrapper {
        padding: 1.7rem;
        line-height: 2.1rem;
      }
    }
  }

  @include respond-to(medium) {
    margin-bottom: 1rem;
  }
}

// order summary section mobile

.checkout_order_summary_section_mobile {
  padding: $pd-checkout-section;
  background-color: transparent;
  margin-bottom: 1.5rem;

  @include respond-to(medium) {
    display: none;
  }
}

// complete order button section

.checkout_complete_order_section {
  padding: $pd-checkout-section;
  padding-block: 2.5rem;
}

// policies section;

.order_policies_section {
  border-top: 1px solid $clr-border;
  margin-bottom: 3.8rem;

  @include respond-to(medium) {
    margin-inline: 3.8rem;
  }
}

.order_page_policies_container {
  padding: 1.7rem 2.1rem;
  font-size: $font-size-sm;
  & .order_page_policies_list {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;

    & li a {
      color: $clr-link-color;
      display: inline-block;
      white-space: nowrap;
      text-decoration: underline;
    }
  }

  @include respond-to(medium) {
    padding: 2rem 0;
  }
}
