@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// home hero section;
.hero_mainDetail{
  width: 100%;
  max-width: $width-medium;
  text-align: center;
  margin-inline: auto;
  padding-inline: $pd-hero-main-inline;
  padding-top: $pd-hero-main-top;
  padding-bottom: $pd-hero-main-bottom;
  @include respond-to(small){
    padding-inline: $pd-hero-main-inline-sm;
    padding-top: $pd-hero-main-top-sm;
    padding-bottom: $pd-hero-main-bottom-sm;
  }
  @include flex-col-center;

  & > h1{
    font-size: $font-size-h1-sm;
    @include respond-to(medium){
      font-size: $font-size-h1-md;
    }
    @include respond-to(large){
      font-size: $font-size-h1-lg;
    }
  }

  & > p{
    font-size: $font-size-sm;
    margin-bottom: 3rem;
    padding-top: 2rem;
    max-width: 69rem;
    line-height: $leading-relaxed;
    color: $clr-text-secondary;
    @include respond-to(medium){
      font-size: $font-size-hero-p-md;
    }
  }
}

//  image scroll
.hero_scrollImage_container{
  padding-bottom: 6rem;
  margin-bottom: 10rem;
}

.hero_image_scroller{
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
    appearance: none;
  }
}
.hero_image_inner_scroller{
  transition: transform .1s linear;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(5,$width-hero-image-scroll);
  gap: $gap-hero-image-scroll;
  & > span{
    transform: translateX(-4rem);
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 28%;
    overflow: hidden;
  }

  & > span img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond-to(x-small){
    & > span{
      transform: translateX(-8rem);
    }
  }
  @include respond-to(small){
    & > span{
      transform: translateX(-11rem);
    }
  }
  @include respond-to(medium){
    & > span{
      transform: translateX(-13rem);
    }
  }
  @include respond-to(large){
    & > span{
      transform: translateX(-17rem);
    }
  }
}




