@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


// home hero section;
.hero_mainDetail{
  width: 100%;
  max-width: $width-medium;
  text-align: center;
  margin-inline: auto;
  padding-inline: $pd-hero-main-inline;
  padding-top: $pd-hero-main-top;
  padding-bottom: $pd-hero-main-bottom;
  @include respond-to(small){
    padding-inline: $pd-hero-main-inline-sm;
    padding-top: $pd-hero-main-top-sm;
    padding-bottom: $pd-hero-main-bottom-sm;
  }
  @include flex-col-center;

  & > h1{
    font-size: $font-size-h1-sm;
    @include respond-to(medium){
      font-size: $font-size-h1-md;
    }
    @include respond-to(large){
      font-size: $font-size-h1-lg;
    }
  }

  & > p{
    font-size: $font-size-sm;
    margin-bottom: 3rem;
    padding-top: 2rem;
    max-width: 69rem;
    line-height: $leading-relaxed;
    color: $clr-text-secondary;
    @include respond-to(medium){
      font-size: $font-size-hero-p-md;
    }
  }
}

//  image scroll
.hero_scrollImage_container{
  padding-bottom: 6rem;
  margin-bottom: 10rem;
}

.hero_image_scroller{
  overflow-x: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    width: 0;
    height: 0;
    appearance: none;
  }
}
.hero_image_inner_scroller{
  transition: transform .1s linear;
  display: grid;
  justify-content: flex-start;
  grid-template-columns: repeat(5,$width-hero-image-scroll);
  gap: $gap-hero-image-scroll;
  & > span{
    transform: translateX(-4rem);
    aspect-ratio: 1/1;
    display: inline-block;
    border-radius: 28%;
    overflow: hidden;
  }

  & > span img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include respond-to(x-small){
    & > span{
      transform: translateX(-8rem);
    }
  }
  @include respond-to(small){
    & > span{
      transform: translateX(-11rem);
    }
  }
  @include respond-to(medium){
    gap: $gap-hero-image-scroll-md;
    & > span{
      transform: translateX(-13rem);
    }
  }
  @include respond-to(large){
    & > span{
      transform: translateX(-17rem);
    }
  }
}


// squalane_capsules_section

.squalane_capsules_section{
  background-color: $clr-bg-primary;
  padding: 6.5rem 2.5rem 2rem 2.5rem;
  @include respond-to(medium){
    padding-top: 9rem;
  }
}

.squalane_container{
  width: 100%;
  max-width: 145rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column-reverse;
  column-gap: 10%;
  text-align: center;
  @include respond-to(medium){
    flex-direction: row;
    text-align: start;
  }
}

.squalane_image_container {
  flex: 1.4;
  transition: transform .4s ease;
  & span{
    display: inline-block;
    width: 100%;
    border-top-right-radius: 25%;
    height: 100%;
    border-bottom-left-radius: 25%;
    overflow: hidden;
  }
  & img{
    width: 100%;    
    height: 90%;
    object-fit: cover;
  }
}

.squalane_description_container{
  flex: 1;
  margin-bottom: 4rem;
  & .deal_top_line{
    color: $clr-primary;
    font-size: $font-size-base;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  & h2{
    font-size: clamp(5rem,8vw,11rem);
    line-height: 1.2em;
    margin-bottom: 2rem;
  }

  & .squalane_description{
    color: $clr-text-quaternary;
    font-size: $font-size-sm;
    line-height: 1.8em;
    margin-bottom: 1.6rem;
    @include respond-to(medium){
      font-size: $font-size-base;
    }
  }

  & a{
    display: inline-block;
  }

  @include respond-to(medium){
    margin-bottom: 0;
    padding-bottom: 15rem;
  }

}
