@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.auth_form_container {
  margin-top: 9.6rem;
  padding-inline: 2.4rem;
  margin-bottom: 14.4rem;
  margin-inline: auto;
  width: 100%;
  max-width: 77.6rem;

  & > h1 {
    font-size: clamp(6rem, 7vw, 11.4rem);
    text-align: center;
    margin-bottom: 6.4rem;
  }
}


.login_form_forgetPassword {
  font-size: $font-size-base;
  text-decoration: underline;
  margin-top: 1.6rem;

  &:hover {
    text-decoration: none;
  }
}

.login_form_createAccount,
.login_form_forgetPassword {
  font-size: $font-size-base;
  text-decoration: underline;
  margin-top: 2rem;

  &:hover {
    text-decoration: none;
  }

  &.login_form_createAccount {
    display: block;
    margin-inline: auto;
    width: fit-content;
    margin-top: 0;
  }
}

.togglePassword_visibility_button{
  position: absolute;
  right: 2rem;
  bottom: 50%;
  transform: translateY(50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  & i{
    color: #a1a1a1;
    font-size: 1.6rem;
    pointer-events: none;
  }
}

