<section>
  <nav class="header_menu_nav">
    <ul class="flex_row_btw">
      <li class="header_mobile_menu">
        <div>
          <button data-mobile-header-menu-button aria-expanded="false" aria-label="menu" aria-controls="submenu">
            <span class="hidden" aria-hidden="true">CLOSE</span>
            <span class="" aria-hidden="true">MENU</span>
          </button>
        </div>
      </li>
      <li class="header_menu_links_shop">
        <div class="flex_row_btw relative" data-shopLink>
          <a href="/collections">SHOP</a>
          <button class="button--dropdown" aria-label="Open Menu Shop" aria-expanded="false" aria-controls="menu_shop" data-dropDownButton>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" enable-background="new 0 0 512 512" class="">
              <path d="m98.9 184.7 1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z" fill="#203D3B" class=""></path>
            </svg>
          </button>
        </div>
        <div>
          <a href="">LEARN</a>
        </div>
      </li>
      <li>
        <a href="/" class="header_logo" aria-label="phils">
          <span><img src="/assets/Nexus.jpeg" alt=""></span>
        </a>
      </li>
      <li class="header_menu_links_login">
        <% if(user && user.isRegistered) { %>
        <div>
          <a href="/account">MY ACCOUNT</a>
        </div>
        <% }else { %>
        <div>
          <a href="/account/login">LOGIN</a>
        </div>
        <% } %>

        <div>
          <button data-cartButton class="header_cart_button">CART &lpar;<span data-headerCartQuantity><%= cart ? cart.items.reduce((total,{quantity}) => total+=quantity,0): 0 %></span>&rpar;</button>       
        </div>
      </li>
    </ul>
  </nav>
</section>

<!-- Start ---------------------------------------- DropDown_Large ---------------------------- -->

<section class="dropDown_container" id="menu_shop">
  <nav class="dropDown_menu" data-dropDownMenu>
    <section class="subDropdown_category-container">
      <ul>
        <li class="subDropdown_item_category" data-categoryName="shopAll">
          <a href="/collections">
            <span>Shop All</span>
            <button class="button--subDropDown" aria-label="Open SubMenu Shop All" aria-expanded="false" aria-controls="submenu_shop_1" role="tab" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" enable-background="new 0 0 512 512" class="">
                <path d="m98.9 184.7 1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z" fill="#203D3B" class=""></path>
              </svg>
            </button>
          </a>
        </li>
        <li class="subDropdown_item_category" data-categoryName="skin">
          <a href="">
            <span>Skin</span>
            <button class="button--subDropDown" aria-label="Open submenu skin" aria-expanded="false" aria-controls="submenu_shop_2" role="tab" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" enable-background="new 0 0 512 512" class="">
                <path d="m98.9 184.7 1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z" fill="#203D3B" class=""></path>
              </svg>
            </button>
          </a>
        </li>
        <li class="subDropdown_item_category" data-categoryName="hair">
          <a href="/collections/hair">
            <span>Hair</span>
            <button class="button--subDropDown" aria-label="Open submenu hair" aria-expanded="false" aria-controls="submenu_shop_3" role="tab" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" enable-background="new 0 0 512 512" class="">
                <path d="m98.9 184.7 1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z" fill="#203D3B" class=""></path>
              </svg>
            </button>
          </a>
        </li>
        <li class="subDropdown_item_category" data-categoryName="body">
          <a href="/collections/body">
            <span>Body</span>
            <button class="button--subDropDown" aria-label="open submenu body" aria-expanded="false" aria-controls="submenu_shop_4" role="tab" aria-selected="false">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xml:space="preserve" enable-background="new 0 0 512 512" class="">
                <path d="m98.9 184.7 1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8H112.6c-9.2 0-16.6 7.1-16.6 15.8 0 3.3 1.1 6.4 2.9 8.9z" fill="#203D3B" class=""></path>
              </svg>
            </button>
          </a>
        </li>
      </ul>
    </section>
    <section class="subDropdown_item_detail_container">
      <div class="submenu" data-subMenuOf="shopAll" id="submenu_shop_1" aria-orientation="horizontal" role="tablist">
        <ul>
          <li class="subDropdown_item_detail">
            <a href="/collections/rephil">
              <span><img src="/assets/rephils.png" alt="" /></span>
              <h3>REPHILS</h3>
            </a>
          </li>
          <li class="subDropdown_item_detail">
            <a href="/collections/best-sellers">
              <span><img src="/assets/allSellers.jpg" alt="" /></span>
              <h3>BEST SELLERS</h3>
            </a>
          </li>
        </ul>
      </div>

      <div class="submenu" data-subMenuOf="skin" id="submenu_shop_2" aria-orientation="horizontal" role="tablist">
        <ul class=" ">
          <li class="subDropdown_item_detail">
            <a href="">
              <span><img src="/assets/shave.jpeg" alt="" /></span>
              <h3>SHAVE</h3>
            </a>
          </li>
          <li class="subDropdown_item_detail">
            <a href="/collections/cleanser">
              <span><img src="/assets/cleansers.jpg" alt="" /></span>
              <h3>CLEANSERS</h3>
            </a>
          </li>
          <li class="subDropdown_item_detail">
            <a href="/collections/moisturizer">
              <span><img src="/assets/moisture.jpg" alt="" /></span>
              <h3>MOISTURIZERS</h3>
            </a>
          </li>
        </ul>
      </div>

      <div class="submenu" data-subMenuOf="hair" id="submenu_shop_3" aria-orientation="horizontal" role="tablist">
        <ul>
          <li class="subDropdown_item_detail">
            <a href="">
              <span><img src="/assets/shampoo.jpeg" alt="" /></span>
              <h3>SHAMPOO</h3>
            </a>
          </li>
          <li class="subDropdown_item_detail">
            <a href="/collections/conditioner">
              <span><img src="/assets/conditioner.jpg" alt="" /></span>
              <h3>CONDITIONER</h3>
            </a>
          </li>
        </ul>
      </div>

      <div class="submenu" data-subMenuOf="body" id="submenu_shop_4" aria-orientation="horizontal" role="tablist">
        <ul>
          <li class="subDropdown_item_detail">
            <a href="/collections/bodyWash">
              <span><img src="/assets/handSoap.png" alt="" /></span>
              <h3>HAND SOAPS</h3>
            </a>
          </li>
          <li class="subDropdown_item_detail">
            <a href="/collections/bodyWash">
              <span><img src="/assets/bodyWash.jpg" alt="" /></span>
              <h3>BODY WASH</h3>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </nav>
</section>

<!-- Start ------------------------------------------ DropDown_Mobile --------------------------------------- -->
<!--  -->
<section class="dropDown_mobile_container" id="submenu" data-mobileMenu>
  <nav>
    <div data-drop-down-accordion-mobile>
      <div class="mobile_menu_shop" data-accordion-item>
        <button class="mobile_menu_shop_Button" data-mobileMenuBtn aria-controls="submenu_shop" aria-expanded="false" data-accordion-button>
          <span>Shop</span>
          <span class="icon_contaienr"><img src="data:image/svg+xml,%3c?xml%20version='1.0'%20encoding='UTF-8'%20standalone='no'%20?%3e%3c!DOCTYPE%20svg%20PUBLIC%20'-//W3C//DTD%20SVG%201.1//EN'%20'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3e%3csvg%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%20version='1.1'%20width='1080'%20height='1080'%20viewBox='0%200%201080%201080'%20xml:space='preserve'%3e%3cdesc%3eCreated%20with%20Fabric.js%205.2.4%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg%20transform='matrix(1%200%200%201%20540%20540)'%20id='c65c9aae-d98a-4e7c-88d9-7f1283382249'%20%3e%3crect%20style='stroke:%20none;%20stroke-width:%201;%20stroke-dasharray:%20none;%20stroke-linecap:%20butt;%20stroke-dashoffset:%200;%20stroke-linejoin:%20miter;%20stroke-miterlimit:%204;%20fill:%20rgb(255,255,255);%20fill-rule:%20nonzero;%20opacity:%201;%20visibility:%20hidden;'%20vector-effect='non-scaling-stroke'%20x='-540'%20y='-540'%20rx='0'%20ry='0'%20width='1080'%20height='1080'%20/%3e%3c/g%3e%3cg%20transform='matrix(1%200%200%201%20540%20540)'%20id='8a92634a-6be0-48e4-abad-f32a5039def6'%20%3e%3c/g%3e%3cg%20transform='matrix(45%200%200%2045%20540%20540)'%20%3e%3cg%20style=''%20%3e%3cg%20transform='matrix(1%200%200%201%200%200)'%20%3e%3cpath%20style='stroke:%20none;%20stroke-width:%201;%20stroke-dasharray:%20none;%20stroke-linecap:%20butt;%20stroke-dashoffset:%200;%20stroke-linejoin:%20miter;%20stroke-miterlimit:%204;%20fill:%20rgb(113,137,114);%20fill-rule:%20nonzero;%20opacity:%201;'%20vector-effect='non-scaling-stroke'%20transform='%20translate(-12,%20-12)'%20d='M%20-0.00000200283%2011.999%20C%20-0.00000257978%205.39956%205.4%200.00000150025%2012%209.23262e-7%20C%2018.6%203.46272e-7%2024%205.39956%2024%2011.999%20C%2024%2018.5985%2018.6%2023.998%2012%2023.998%20C%205.4%2024.118%20-0.0000014154%2018.7185%20-0.00000200283%2011.999%20C%20-0.00000199234%2012.119%20-0.00000199234%2012.119%20-0.00000200283%2011.999%20Z%20M%2022.2%2011.999%20C%2022.2%206.35948%2017.64%201.79985%2012%201.67986%20C%206.36%201.67986%201.8%206.23949%201.68%2011.879%20C%201.68%2017.5186%206.24%2022.0782%2011.88%2022.1982%20C%2011.88%2022.1982%2011.88%2022.1982%2012%2022.1982%20C%2017.64%2022.1982%2022.2%2017.6386%2022.2%2011.999%20Z'%20stroke-linecap='round'%20/%3e%3c/g%3e%3cg%20transform='matrix(1%200%200%201%200%20-0.77)'%20%3e%3cpath%20style='stroke:%20none;%20stroke-width:%201;%20stroke-dasharray:%20none;%20stroke-linecap:%20butt;%20stroke-dashoffset:%200;%20stroke-linejoin:%20miter;%20stroke-miterlimit:%204;%20fill:%20rgb(113,137,114);%20fill-rule:%20nonzero;%20opacity:%201;'%20vector-effect='non-scaling-stroke'%20transform='%20translate(-12,%20-11.23)'%20d='M%208.52031%2014.1587%20L%2012.0003%2010.679%20L%2015.4803%2014.1587%20C%2015.8403%2014.5187%2016.4403%2014.5187%2016.8003%2014.1587%20C%2017.1603%2013.7988%2017.1603%2013.1988%2016.8003%2012.8388%20L%2012.0003%208.03924%20L%207.20031%2012.8388%20C%206.84031%2013.1988%206.84031%2013.7988%207.20031%2014.1587%20C%207.44031%2014.5187%208.04031%2014.5187%208.52031%2014.1587%20C%208.52031%2014.1587%208.40031%2014.2787%208.52031%2014.1587%20Z'%20stroke-linecap='round'%20/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e" alt="" /></span>
        </button>
        <div class="mobile_submenu_shop" data-mobile-shop-submenu-body id="submenu_shop" data-accordion-body>
          <ul>
            <li>
              <a href="/collections#hair">
                <div> 
                  <img src="/assets/everythingBar1.jpg" alt="" />
                </div>
                <div>
                  <h4>HAIR</h4>
                  <p>Shampoo &amp; conditioner, Refill pods, etc</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/collections#face">
                <div>
                  <img src="/assets/dailyMoisturizer1.jpg" alt="">
                </div>
                <div>
                  <h4>FACE</h4>
                  <p>Razors,creams,oils</p>
                </div>
              </a>
            </li>
            <li>
              <a href="/collections#body">
                <div>
                  <img src="/assets/handsoapformbottle.jpg" alt="" />
                </div>
                <div>
                  <h4>BODY</h4>
                  <p>Lotions,hands soaps, refills</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="mobile_menu_learn" data-accordion-item>
        <button class="mobile_menu_learn_Button" data-mobileMenuBtn aria-expanded="false" aria-controls="submenu_learn" aria-label="submenu" data-accordion-button>
          <span>Learn</span>
          <span class="icon_contaienr"><img src="/assets/arrowDown.svg" alt=""></span>
        </button>
        <div class="mobile_submenu_learn" id="submenu_learn" data-accordion-body>
          <a href="">ABOUT US</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="mobile_signUp_link_container">
    <% if(user && user.isRegistered) { %>
      <a href="/account" class="button--authButton">My Account</a>
      <form class="account_logout_form"  action="/account/logout" method="post">
        <button class="button--authButton" type="submit">Log Out</button>
      </form>
    <% }else { %>
      <a href="/account/register" class="button--authButton">Sign Up</a>
      <a href="/account/login" class="button--authButton">Log In</a>
    <% } %>
  </div>
  <section></section>
</section>
