<div class="banner_card">
  <div class="banner_image">
    <img src="/assets/Phils_2023_Launch_ShavingCream_Product_HERO-copy.png" alt="" />
  </div>
  <div class="banner_detail">
    <div class="banner_title">
      <h3>
        <span>Infinitely</span>
        <span>Recyclable</span>
      </h3>
    </div>
    <div>
      <a href="/products/shaving-cream" class="button--productBanner">
        <span>Shop Shaving Cream</span>
        <svg class="icon icon--arrow-right" width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.86523 7.5L19.7197 7.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M16.1836 3.4165L19.8972 7.49984L16.1836 11.5832" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
    </div>
  </div>
</div>