@use '../abstracts/variables' as *;

html{
  font-size: $font-size-root;
}

a{
  color: $clr-primary;
  transition:outline-offset $trans-dur-outline-offset  $trans-outline-func ;
  &:focus{
    outline: $outline-width solid $clr-outline;
    outline-offset: $outline-offset;
  }
}
