@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html{
  font-size: $font-size-root;
  scroll-behavior: smooth;
  scroll-padding: $height-header-sm;
  @include respond-to(small){
    scroll-padding: $height-header-lg;
  }
}

a,button:not(.button--subDropDown):not(.button--dropdown):not(.accordion_button){
  transition:outline-offset $trans-dur-outline-offset  $trans-outline-func ;
  &:focus-visible{
    outline: $outline-width solid $clr-outline;
    outline-offset: $outline-offset;
  }
}

a{
  color: $clr-primary;
}

body{
  padding-top: $height-header-sm;
  @include respond-to(medium){
    padding-top: $height-header-lg;
  }
  overflow-x: hidden;   
  height: 100svh;
}

button{
  cursor: pointer;
}

h1,h2,h3,h4{
  color: $clr-primary;
}