@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

html{
  font-size: $font-size-root;
}

a,button:not(.button--subDropDown):not(.button--dropdown){
  color: $clr-primary;
  transition:outline-offset $trans-dur-outline-offset  $trans-outline-func ;
  &:focus-visible{
    outline: $outline-width solid $clr-outline;
    outline-offset: $outline-offset;
  }
}

body{
  padding-top: $height-header-sm;
  @include respond-to(medium){
    padding-top: $height-header-lg;
  }
  height: 100vh;
}

button{
  cursor: pointer;
}

h1,h2,h3,h4{
  color: $clr-primary;
}