// @font-face {
//   font-family: "eloquiaBold";
//   src: url("../../assets/fonts/eloquiadisplay-extrabold-webfont.woff2") format("woff2"),
//        url("../../assets/fonts/eloquiadisplay-extrabold-webfont.woff") format(("woff")),
//        url("../../assets/fonts/eloquiaDisplay-ExtraBold.otf") format('otf');
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: "eloquiaLight";
//   src: url("../../assets/fonts/eloquiatext-extralight-webfont.woff2") format("woff2"),
//         url("../../assets/fonts/eloquiatext-extralight-webfont.woff") format("woff"),
//         url("../../assets/fonts/eloquiaText-ExtraLight.otf") format('otf');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: "eloquiaLight";
  src: url('/client/src/assets/fonts/EloquiaTexExtLt.woff2') format("woff2"),
        url('./fonts/EloquiaTextExtLt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
