// rand regular
@font-face {
  font-family: "randRegular";
  src: url("/assets/Rand-Regular.woff2") format("woff2"),
       url("/assets/Rand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}