@use '../abstracts/variables' as *;

// main content container
.container{
  max-width: $max-width;
  margin-inline: auto;
  padding-inline: $pd-container;
  width: 100%;
}

// flex box row with space between
.flex_row_btw{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative{
  position: relative;
}