@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// // main content container
// .container{
//   max-width: $max-width;
//   margin-inline: auto;
//   padding-inline: $pd-container;
//   width: 100%;
// }

// flex box row with space between
.flex_row_btw{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative{
  position: relative;
}


.hidden{
  display: none;
}

.visually-hidden {
  border: 0;
  height: 1px;
  opacity: 0;
  pointer-events: none;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.overLay{
  position: fixed;
  top: -$height-header-sm;
  height: calc(100% + $height-header-sm);
  width: 100vw;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-overlay;
  transition: all .5s ease-in;
  @include respond-to(medium){
    top: -$height-header-lg;
    height: calc(100% + $height-header-lg);
  }
  &.active{
    opacity: .4;
    visibility: visible;
  }
}

.hideOverflow{
  overflow: hidden;
}